.searchIcon {
  width: 400px;
  font-size: 24px;
  font-weight: 400;
  color: #212121;
  padding: 16px;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.text {
  font-size: 20px;
  margin-bottom: 4px;
}
.searchBox {
  margin: 0 auto;
}
