.form {
  display: flex;
  gap: 8px;
}
.btn {
  border: none;
  background: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
}
.input {
  border: none;
  /* width: 36px; */
}
.icon {
  width: 24px;
  height: 24px;
}
