.contactContainer {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #212121;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px 10px;
}
.text {
  display: flex;
  gap: 16px;
  margin: 0;
}
.btnDel {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 10px;
  background: #898989;
  color: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contactText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  color: #212121;
}
